.task {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--tg-theme-section-separator-color);

	.info {
		cursor: pointer;
		display: flex;
		align-items: center;
		gap: 20px;

		.checkboxCompleted {
			padding: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid var(--tg-theme-button-color);
			border-radius: 50%;
			background: var(--tg-theme-button-color);

			& svg {
				color: #fff;
			}
		}

		.checkbox {
			padding: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid var(--tg-theme-button-color);
			border-radius: 50%;

			& svg {
				color: #fff;
			}
		}
	}

	.delete {
		cursor: pointer;
		color: var(--tg-theme-destructive-text-color);
	}
}
